
body{
	background-color:#F8F8F8;
	
}
p{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 40px;
	color:#FF6347;
}
.btngroup{
	margin-top: 15px;
}
.backgrondpc{
	position:relative;
	top:-10px;
	
	z-index: -200;
	
}

.headtext{
	position: absolute;
	margin-left: 150px;
}
.buttongroup{position: relative;
margin-top: -5px;}

/*.button1,.button2, .button3, .button4{
	position: relative;
    top: -10px;

}*/
#effect{margin-top:10px;
	margin-left: 200px;
position: relative;
z-index: 200;}

.toggler{
	margin-top: 200px;
position: absolute;
/*top: 50;
left: 0;*/
/*z-index: -199;*/

}

#con_correct{
	position:relative;
	margin-top: 10px;
    
}
.nextbt{
	position: relative;
	margin-top: 10px;
	z-index: 300;
}


@media only screen and (max-width: 500px){
	
body{background-color:#F8F8F8;}
.button1,.button2, .button3, .button4{
	position: absolute;
    margin-top: -550px;
}
p{font-size: 5px;margin-top: -5px;}
.headtext{
	position: absolute;
	
	margin-left: 80px;
}
#effect{
position: absolute;
margin-top:0px;

z-index: 2
}
}
/*////////////////////page2//////////*/
.startbu{
	z-index: 200;
	margin-top: -500px;
	margin-left: 500px;
	padding-top: 30px;

}

.backgrondpc2{
	z-index: 201;
}



